<h1>this is only a test</h1>

<h4> my site is still under heavy construction and i'm not wearing a hard hat.</h4>

<p> please visit <a href="http://www.tannerheffner.com">my old portfolio</a> for something that looks decent.</p>

<div id="thumbnails" class="thumbnails clear" data-view="Thumbnail" data-set="Projects">

						<div class="project_thumb no_title no_tags" id="item_7490796" data-id="7490796" style="max-width: 200px">

								<a ui-sref="triangle" data-id="7490796" rel="history">

									<div class="thumb_image" name="">
										<img src="" width="200" height="134" >
									</div>

								</a>


						</div>

</div>
